.more-info {
    display: flex;
    gap: 2em;
}

.trade-idea,
.position-component,
.comment {
    background-color: rgba(255, 0, 0, 0.2);
    margin: 1.5em 0;
    padding: 1.5em;
    border-radius: 12px;
}

.page-content {
    padding: 3em;
    padding-top: 6%;
}

body {
    margin: 0;
}

.profile-links {
    display: flex;
    gap: 2em;
    font-size: 1.2em;
}

.create-content {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    width: 10%;
    margin: auto;
}


.trade-idea a:hover {
    font-size: 1.2em;
    color: white;
}

.navbar a:hover {
    font-size: 2em;
    color: gray;
}