<div id="candlestick-chart">

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        const chartDates = {{ dates| safe }};
        const chartOpens = {{ opens| safe }};
        const chartHighs = {{ highs| safe }};
        const chartLows = {{ lows| safe }};
        const chartCloses = {{ closes| safe }};

        const trace = {
            x: chartDates,
            open: chartOpens,
            high: chartHighs,
            low: chartLows,
            close: chartCloses,
            decreasing: { line: { color: '#FF0000' } },
            increasing: { line: { color: '#00FF00' } },
            type: 'candlestick'
        };

        const data = [trace];

        const layout = {
            title: '{{ ticker|upper }} Chart',
            xaxis: {
                rangeslider: {
                    visible: false
                }
            }
        };

        Plotly.newPlot('candlestick-chart', data, layout);
    </script>
</div>